$valorPixel: 10px;

fieldset {
    margin-top: $valorPixel * 3;
    padding: $valorPixel;
    border: 1px solid #e3f2fd;
    border: {
        radius: 3px;
    }
    legend {
        padding: ($valorPixel / 2);
        width: $valorPixel * 18;
        border: 2px solid #e3f2fd;
        border: {
            radius: 3px;
        }
    }
}

