<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Cliníca </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="public/components/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="public/components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="public/css/login.css" />
        <style type="text/css">
            body { background-color: #F5F5F8 }
        </style>
    </head>
    <body>
        
        {% block content %}{% endblock %}
        
    </body>
</html>



