{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                      <label>Nome</label>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Endereço</label>
                      <input type="text" class="form-control" placeholder="1234 Main St" />
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Bairro</label>
                        <input type="text" class="form-control" />
                      </div>
                      <div class="form-group col-md-4">
                        <label>Cidade</label>
                        <input type="text" class="form-control" />
                      </div>
                      <div class="form-group col-md-2">
                        <label>UF</label>
                        <select class="form-control">
                          <option selected> Escolha o UF</option>
                          <option>AC</option>
                          <option>AL</option>
                          <option>AM</option>
                          <option>AP</option>
                          <option>BA</option>
                          <option>CE</option>
                          <option>DF</option>
                          <option>ES</option>
                          <option>GO</option>
                          <option>MA</option>
                          <option>MG</option>
                          <option>MS</option>
                          <option>MT</option>
                          <option>PA</option>
                          <option>PB</option>
                          <option>PE</option>
                          <option>PI</option>
                          <option>PR</option>
                          <option>RJ</option>
                          <option>RN</option>
                          <option>RO</option>
                          <option>RR</option>
                          <option>RS</option>
                          <option>SC</option>
                          <option>SE</option>
                          <option>SP</option>
                          <option>TO</option>  
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Endereço Eletrônico/E-mail</label>
                      <input type="email" class="form-control" />
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label>Data da Consulta</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group col-md-4">
                        <label>Horário da Consulta</label>
                        <input type="time" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Serviços</label>
                        <select class="form-control" multiple>
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


