
{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 180px; padding: 20px;">
            <div class="card" style="width: 20rem; margin-right: 20px;">
                <div class="card-body">
                  <h4 class="card-title">Cliente</h4>
                  <p class="card-text">Área para o cadastro de um novo cliente.</p>
                  <a href="cadastro-cliente" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Fornecedor</h4>
                  <p class="card-text">Área para o cadastro de um novo fornecedor.</p>
                  <a href="cadastro-fornecedor" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
            
            <div class="card" style="width: 20rem; margin-left: 20px;">
                <div class="card-body">
                  <h4 class="card-title">Funcionário</h4>
                  <p class="card-text">Área para o cadastro de um novo funcionário.</p>
                  <a href="cadastro-funcionario" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}