{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 180px; padding: 20px;">
            <div class="card" style="width: 20rem; margin-right: 50px;">
                <div class="card-body">
                  <h4 class="card-title">Cliente</h4>
                  <p class="card-text">Área de autenticação do cliente, caso seja um cliente acesse essa página.</p>
                  <a href="cliente" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>

            <div class="card" style="width: 20rem; margin-left: 50px;">
                <div class="card-body">
                  <h4 class="card-title">Funcionário</h4>
                  <p class="card-text">Área de autenticação do funcionário, caso seja um funcionário acesse essa página.</p>
                  <a href="funcionario" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}